#all-in-one-accessibility {
    width: 100%;
    z-index: 2000;

    background: #444 none repeat scroll 0 0;
    opacity: 0.9;
    filter:Alpha(Opacity=50);
    color: #fff;
    font-size: 13px;
    line-height: 18px;
}

#all-in-one-accessibility a {
    color: #fff;
    font-size: 13px;
    line-height: 18px;
}

#all-in-one-accessibility h2 {
    color: #fff !important;
}

#all-in-one-accessibility.coc-1 {
    top: 0;
    position: fixed;
    width: 100%;
    font-family: Arial;
}

#all-in-one-accessibility.coc-2 {
    top: 0;
    position: static;
}

#all-in-one-accessibility.coc-3 {
    bottom: 0;
    position: fixed;
    width: 100%;
    font-family: Arial;
}

.coc-wrapper {
    margin: 0 auto;
    padding: 20px;
    width: 100%;
}

@media all and (min-width: 960px) {
    .coc-wrapper{
    width: 960px;
}

}

.coc-title {
    padding: 0 20px 0px 0;
    float:left;
}

.coc-body {
    text-align: justify;
    display: table-cell;
}

.coc-more-link {

}

.button.coc-more-link {
    background: #ff7c02;
    border: 1px solid #ff7b00;
    vertical-align: top;
    color: #fff;
    margin: 15px 2px 5px 0;
    padding: 0 5px;
    float:right;
    display: inline-block;
}

.button.coc-accept-link {
    background: #ff7c02;
    border: 1px solid #ff7b00;
    vertical-align: top;
    color: #fff;
    margin: 15px 2px 5px 0;
    padding: 0 5px;
    float:right;
    display: inline-block;
}

.coc-accept-link:hover {
    cursor: pointer;
}

.coc-more-link a:hover {
    text-decoration: none;
}
