
    <div id="all-in-one-accessibility" class="coc-{$theme_id}" style="display:none">
        <div class="coc-wrapper">
            <div class="coc-title"><h2>{$content_title}</h2></div>
            <div class="coc-body">
                {$content_body}<br /><span class="coc-accept-link button" onclick='javascript:xt_all_in_one_accessibility_accept(true, {$lifetime}, {$secure})'>{$smarty.const.TEXT_XT_COC_ACCEPT}</span><span class="coc-accept-link button" onclick='javascript:xt_all_in_one_accessibility_accept(false, {$lifetime}, {$secure})'>{$smarty.const.TEXT_XT_COC_DENY}</span><span class="coc-more-link button">{$more_link}</span><div style="clear:both"></div>
            </div>
        </div>
    </div>

    <script>document.addEventListener("DOMContentLoaded", function () { try { xt_all_in_one_accessibility_init({$theme}); } catch(e) { console.error(e) } } );</script>
    {if $open}<script>document.addEventListener("DOMContentLoaded", function () { try { xt_all_in_one_accessibility_show(); } catch(e) { console.error(e) } } );</script>
    {else}<script>document.addEventListener("DOMContentLoaded", function () { try { processAllinOneAccessibilityInitFunctions(); } catch(e) { console.error(e) } } );</script>
    {/if}
